body{
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    font-family: New Times Roman, serif;
    Text-align: center;
}
h1{
    color: #333;
    margin-top: 60px;
}

#home{
    text-align: center;
    margin-top: 60px;
}

#home-image{
    width: 300px;
    border-radius: 20px;
}

#start-btn{
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    background: #61c264;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}

#start-btn:hover{
    background: #59ba5e;
    transform: scale(1.1);
}

.game{
    background: white;
    width: 450px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px gray;

}

#flag{
    width: 250px;
    height: 170px; 
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 20px;

}

#buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option{
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #c1edc3;
    color: rgb(86, 51, 51);
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s;
}
.option:hover{
    background: #c1edc3;
    transform: scale(1.05);

}

#result{
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
